@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.page{
  min-height: 70vh;
  width: 100vw;
}

.flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cards{
  height: 15rem;
  width: 20rem;
}

.nav-kindof{
  height: 10vh;
}

.navbar{
  width: min(95vw, 60rem);
}

.navbar-img{
  height: 6vh;
  filter: grayscale(100)
}

.grid {
  display: grid;
  gap: 1rem;
}

.sp-bg{
  height: 100vh;
  width: 100vw;
}

.border-black{
  border: 1px solid black;
}

.home-cards-title{
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.receive-title{
  margin-bottom: 2rem;
}

button{
  cursor: pointer;
}

img{
  filter: grayscale(100);
}

.file-input{
  border: 1px dashed black;
  cursor: pointer;
  width: min(100%, 25rem);
}

.receive-card{
  height: 10rem;
  width: 15rem;
}

.home-page-cards{
  grid-template-columns: repeat(1, 1fr) !important;
}

.fix-top{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.receive-collection{
  grid-template-columns: repeat(1, 1fr) !important;
}

.join-room-input{
  width: min(100%, 20rem);
}

.available-cards{
  height: 10rem;
  width: 15rem;
}

.available-rooms-grid{
  grid-template-columns: repeat(1, 1fr) !important;
}

.available-rooms{
  max-width: min(100vw, 100rem);
}

@media screen and (min-width: 500px) {

  .receive-collection{
    grid-template-columns: repeat(2, 1fr) !important;
  }

    
  .available-rooms-grid{
    grid-template-columns: repeat(2, 1fr) !important;
  }
  
}

@media screen and (min-width: 800px) {

  .receive-collection{
    grid-template-columns: repeat(3, 1fr) !important;
  }
  
.available-rooms-grid{
  grid-template-columns: repeat(3, 1fr) !important;
}

  .home-page-cards{
    grid-template-columns: repeat(2, 1fr) !important;
  }
  
  
}

/* LOGIN */
.login__main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  /* box-shadow: 5px 20px 50px black; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  /* background-color: var(--container-color); */
  margin: 3rem 0;
  font-family: 'Poppins', sans-serif !important;
}

.login__main:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


#chk {
  display: none;
}

.signup {
  position: relative;
  height: 100%;
  width: 100%;
}

.login__label {
  /* color: var(--title-color); */
  font-size: 2.3rem;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif !important;
}

.login__input {
  width: 60% !important;
  height: 40px;
  /* background-color: #e0dede; */
  display: flex;
  justify-content: center;
  /* margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px; */
  /* color: var(--title-color);
  background-color: var(--input-color); */
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.25rem 1rem 0.25rem;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif !important;
}

.login__button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  display: block;
  justify-content: center;
  color: black;
  /* background-color: var(--first-color-lighter); */
  font-family: 'Poppins', sans-serif !important;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  font-family: 'Poppins', sans-serif !important;
}

.login {
  height: 460px;
  /* background-color: var(--first-color-second); */
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.login .login__label {
  /* color: var(--title-color); */
  transform: scale(0.6);
}

#chk:checked~.login {
  transform: translateY(-500px);
}


#chk:checked~.login .login__label {
  transform: scale(1);
}


#chk:checked~.signup .login__label {
  transform: scale(0.6);
}

/* MODAL */

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}


.services__modal {
  padding: 0 0.5rem;
}

.services__modal-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}

.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: 1000;
  /* opacity: 0; */
  /* visibility: hidden; */
  transition: .3s;
}

.services__modal-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services__modal-services {
  row-gap: 1rem;
}

.services__modal-service {
  display: flex;
}


.services__modal-service {
  display: flex;
}

.services__modal-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
